@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$Orange: 26 100% 55%;
$PaleOrange: 25 100% 94%;
$blue: 220 13% 13%;
$darkGrayishBlue: 219 9% 45%;
$GrayishBlue: 220 14% 75%;
$LightGrayishBlue: 223 64% 98%;

$white: 0 0% 100%;
$black: 0 0% 0%;

/* Font-family */
$font-primary: 'Kumbh Sans', sans-serif;

/* Font size */
$fs-800: 2.75rem;
$fs-700: 1.75rem;
$fs-400: 1rem;
$fs-300: 0.9375rem;
$fs-100: 0.8125rem;

/* Font-weight */
$fw-400: 400;
$fw-700: 700;
